*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.body-section{
  height: 90vh;
  margin: 2vh 2vw;
  align-items: center;
  text-align: center;
}

.search-bar {
  height: 10vh;
  margin: 2vh 2vw;
  align-items: left;
  text-align: left;
}

.main-crypto{
  height: 25vh;
  margin: 2vh 10vw;
  color: white;
  font-size: 1.75rem;
}

.main-crypto ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-crypto ul li{
  margin-top: 1rem;
}

.name-li{
  font-size: 5rem;
}

.price-li{
  font-size: 4rem;
}

.points-perc-li #points-div{
  display: inline;
  margin-left: 1rem;
  font-size: 2.2rem;

}

.points-perc-li #percentage-div{
  display: inline;
  font-size: 2.2rem;
}

#arrow{
  display: inline;
  color: green;
}


.pop-cryptos{
  height: 40vh;
  margin-bottom: 2vh;
  margin-top: 16vh;
  color: white;
  font-size: 1.75rem;
}

.stock-data{
  background-color: rgb(28, 28, 33);
  border-radius: 1.2rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-left: 1rem;
  overflow: hidden;
}

.name-div{
  align-items: left;
  text-align: left;

}

.nums-div{
  text-align: center;
  display: inline-flex;
}

.price-div {
  font-size: 2.5rem;
}

.arrow-div {
  margin-left: 1rem;
  padding-top: 0.6rem;
  color: green;
}

.percentage-div {
  padding-top: 0.6rem;
}

.points-div {
  margin-left: 0.8rem;
  padding-top: 0.6rem;

}

.search-box {
  position: relative;
}

.search-box .search-btn {
  /* color: rgb(117, 3, 223);  */
  color: white;
  background-color: transparent;
  position: absolute;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 3.75rem;
  width: 3.75rem;
  line-height: 3.75rem;
  font-size: 1.75rem;
  border-radius: 50%;
}

.search-box #input-box {
  width: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding-left: 3.75rem;
  padding-right: 0;
  line-height: 3.75rem;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 3px #ffffff;
  box-shadow: 0px 0px 5px 3px #ffffff;
  border-radius: 3.75rem;
  background-color: transparent;
  color: white;
  font-size: 1.25rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search-box #input-box::-webkit-input-placeholder {
  color: white;
}

.search-box #input-box:-ms-input-placeholder {
  color: white;
}

.search-box #input-box::-ms-input-placeholder {
  color: white;
}

.search-box #input-box::placeholder {
  color: white;
}

.search-box #input-box:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-box #input-box:focus:-ms-input-placeholder {
  color: transparent;
}

.search-box #input-box:focus::-ms-input-placeholder {
  color: transparent;
}

.search-box #input-box:focus::placeholder {
  color: transparent;
}


@media (min-width: 750px)  {
  
  .pop-cryptos {
      height: 40vh;
      display: flex;
      flex-wrap: wrap;
  }

  .stock-data {
      margin-left: 1rem;
      width: 22rem;
  }
  .nums-div {
    margin-top: 1rem;
  }

  .name-div {
    font-size: 2.2rem;
  }
}

@media (min-width: 1025px) {

  .stock-data {
      height: 7rem;
      width: 28rem;
    }
}



