*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.body-section{
  height: 90vh;
  margin: 2vh 2vw;
  align-items: center;
  text-align: center;
}

.search-bar {
  /* background-color: red; */
  height: 10vh;
  margin: 2vh 10vw;
  align-items: left;
  text-align: left;
}

.main-crypto{
  /* background-color: blue; */
  height: 25vh;
  margin: 2vh 10vw;
  color: white;
  font-size: 1.75rem;
}

.main-crypto ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-crypto ul li{
  /* background-color: orange; */
  margin-top: 1rem;
  /* width: 6rem; */
}

.name-li{
  font-size: 5rem;
}

.price-li{
  font-size: 4rem;
}

.points-li{

}

.percentage-li{
}


.pop-cryptos{
  height: 40vh;
  margin: 8vh 0vw;
  margin-top: 10vh;
  color: white;
  font-size: 1.75rem;
}

.stock-data{
  background-color: rgb(28, 28, 33);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-left: 1rem;
  overflow: hidden;
}

.name-div{
  /* background-color: aqua; */
  align-items: left;
  text-align: left;

}

.nums-div{
  /* background-color: red; */
  text-align: center;
  display: inline-flex;
}

.price-div {
  /* background-color: blue; */
  font-size: 2.5rem;
}

.points-div {
  margin-left: 1rem;
  padding-top: 0.6rem;

}

.percentage-div {
  margin-left: 1rem;
  padding-top: 0.6rem;
}

.search-box {
  position: relative;
}

.search-box .search-btn {
  position: absolute;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 3.75rem;
  width: 3.75rem;
  line-height: 3.75rem;
  font-size: 1.75rem;
  border-radius: 50%;
}

.search-box #input-box {
  width: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding-left: 3.75rem;
  padding-right: 0;
  line-height: 3.75rem;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 3px #ffffff;
  box-shadow: 0px 0px 5px 3px #ffffff;
  border-radius: 3.75rem;
  background-color: transparent;
  color: white;
  font-size: 1.25rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search-box #input-box::-webkit-input-placeholder {
  color: white;
}

.search-box #input-box:-ms-input-placeholder {
  color: white;
}

.search-box #input-box::-ms-input-placeholder {
  color: white;
}

.search-box #input-box::placeholder {
  color: white;
}

.search-box #input-box:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-box #input-box:focus:-ms-input-placeholder {
  color: transparent;
}

.search-box #input-box:focus::-ms-input-placeholder {
  color: transparent;
}

.search-box #input-box:focus::placeholder {
  color: transparent;
}



